# Python venv
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs/debug
*.log
debug.log

# Windows
$RECYCLE.BIN/

#icon
*.ico
*.svg